
@media (max-width: 768px) {
	

    .onlymobilepopupwq #popupForm{
        
        left:10% !Important;
        top: 7% !important;
    }
        }
    
    .onlymobilepopupwq #popupForm{
        
        left:40%;
        top: 20%;
    }
    
    
    
        /* Modal styles */
        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0,0,0,0.5);
        }
    
        .modal-content {
              background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        max-width: 549px;
        position: relative;
        height: 369px;
        }
    
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }
    
        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
    /*@keyframes shake {*/
    /*  0% { transform: translate(0, 0); }*/
    /*  10%, 30%, 50%, 70%, 90% { transform: translate(-5px, 0); }*/
    /*  20%, 40%, 60%, 80%, 100% { transform: translate(5px, 0); }*/
    /*}*/
    
    /* Apply animation to the button when it has the 'shake' class */
    .shake {
      animation: shake 0.5s ease-in-out;
    }
    
    
    
    .btnnp {
      color: #fff !important;
      background: linear-gradient(90deg, #ed3024 0%, #ff6600 100%);
      border: none;
      padding: 10px 20px;
      border-radius: 15px;
      cursor: pointer;
      font-size: 16px;
      transition: transform 0.2s ease-in-out; /* Smooth out the transformation */
    }
    
    .btn:hover {
      transform: scale(1.05); /* Optional: Add a slight zoom effect on hover */
    }

    @media (max-width: 767px) {
        .navbar_brand img.navlogo {
            height: 28px;
            left: -19px;
            position: absolute;
        }
    }

    @media only screen and (max-width: 768px){
        .mobmar{
               margin-top: 25px;
        }
        .donotshowonmob{
            display:none;
        }
        .notmobb{
            display:none;
        }
    }
    
    /* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .onlyonphone{
        display:none;
    }
    .onlyphone{
        display:none;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .onlyonphone{
        display:none;
    }
    .onlyphone{
        display:none;
    }
}

.form-control {
    display: block;
    width: 100%;
    height: 40px;
    padding: 4px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
/* Removes the default 20px margin and creates some padding space for the indicators and controls */
.carousel {
    margin-bottom: 0;
	padding: 0 0px 0px 0px;
}
/* Reposition the controls slightly */
.carousel-control {
	left: -12px;
}
.carousel-control.right {
	right: -12px;
}
/* Changes the position of the indicators */
.carousel-indicators {
	right: 50%;
	top: auto;
	bottom: -25px;
	margin-right: -19px;
}
/* Changes the colour of the indicators */
.carousel-indicators li {
	background: #c0c0c0;
}
.carousel-indicators .active {
background: #333333;
}


.input:checked {
border: none;
}

.error-view {
  color: red;
  font-size: 14px;
  padding-left:5px;
}
#errorMsg {
  color: red;
  font-size: 14px;
}
.ul {
	list-style-type: none;
	font-size: 15px;
	font-weight: 500;
	line-height: 26px;
}
.option:after {
    content: " ";
    height: 5px;
    width: 5px;
    background: #c00;
    border-radius: 5px;
    display: inline-block;
}
.input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
	/* background: url("images/upload-icon.jpg") no-repeat fixed left; 	 */
}

.join-distance{
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
	/* mar-top: 20px; */
	margin-top: -32px;
	padding: 20px;
	font-size: 16px;
	min-height: 200px;
	text-align:left;
	width:100%;
}

.image-bottom-join-distance {
  margin: 0 0 20px 0;
  padding-left: 10px;
}
.h4 {
  font-size: 13px!important;
  color:#000!important;
}
.dec {
  font-size: 13px!important;
  color:#000!important;
}
.thumbnail{padding: 10px!important;min-height: 405px;}
.eligibility-distance {
			font-family: 'Inter';
			font-style: normal;
			font-weight: 500;
			font-size: 20px;
			line-height: 30px;
			text-align: left;
            color: #000000;
       }
.version_text {
				padding-bottom: 10px;
				height: 72px;
				font-family: 'Poppins', sans-serif;
				font-style: normal;
				font-weight: 800;
				font-size: 40px;
				line-height: 72px;
				color: #FFFFFF;
				margin-top: -52px;
              }
.yescls{
	position: absolute;
	padding-top: -27px;
	margin-top: -27px;
	width: 37px;
    padding-left: 7px;
}
.selectcls{margin: 10px 15px; width: 92%;}

	#showdesktop{display:block;}
	#showmobile{display:none;}

	@media (max-width: 480px) {

	#showdesktop{display:none;}
	#showmobile{display:block;}
	

.carousel {
  margin-bottom: 0;
  padding: 0 0px 0px 0px!important;
}
.selectcls{margin: 10px 11px!important;width: 91%!important;}	

.mobwidth{width:100%;}

.contact-form1{margin-top: -140px!important;}

.banner_txy {
			position: absolute!important;
			margin-left: 0px!important;
}

.version_text {
  padding-bottom: 10px;
  height: 137px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 38.574px;
  line-height: 72px;
  color: #FFFFFF;
  margin-top: -19px;
}

.pricig-uline-white {
	margin: -46px -15px !important;
	width: 100%;
}

.top-buffer{margin-top: 0px;
            font-size: 59px;
           }
.homebanner {
  padding-left: 0px;
}
.join-distance {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  /* mar-top: 20px; */
  margin-top: -32px;
  padding: 20px;
    padding-top: 20px;
  font-size: 16px;
  min-height: 189px;
  text-align: left;
  width: 100%;
  height: 200px;
}
}

#deskbanner{display:block;}
#mobilebanner{display:none;}

@media only screen and (min-width: 335px) and (max-width: 767px)  {

.section-space-mobile{margin-top:-70px;}

.h3-bottom {
  font-size: 13px;
}

#deskbanner{display:none;}
#mobilebanner{display:block;}

	 .getyourdreamjob{font-size: 20px;}
	 .homebanner{padding-left: 0px;}
	.top-buffer {
		margin-top: 0px;
		font-size: 40px;
		text-align:center;
	}
	
	.version_text {
		margin-top:-65px;
		font-size: 31px;
		text-align: center;
	}
	
.pricig-uline-white {
	margin: -46px 0px !important;
	width: 100%;
}
.homebanner{padding-left: 0px!important;}





}

@media only screen and (min-width: 340px) and (max-width: 335px)  {
.top-buffer {
  margin-top: 0px;
  font-size: 40px;
}

.version_text {
  font-size: 28px;
}
	
}

.colr{color:#045692;
	  color: #045692;
	  font-weight: 800;
	  font-size: 33px;
	}

	.downbrochure{
				color: #fff !important;
				background: #045692;
				padding: 6px;
				font-weight: 700;
				width: 100%;
				margin-bottom:10px;
	}
	
	
.row.promo-content {
    background: #ffffff none repeat scroll 0 0;
    -webkit-box-shadow: 0 9px 9px 0 #c7c7c7;
    box-shadow: 0 9px 9px 0 #c7c7c7;
    margin-top: -40px;
	padding-top: 40px;
    position: relative;
	z-index: 1;
	border-radius: 5px;
   }

 .homebanner{
	padding-left: 50px;
  }	  
  
  .banner_txy{
		position: absolute;
		margin-left: 44%;
		z-index: 0;
	}
  .bannerimg{ z-index: 1;}
  
/* #showdesktop{display:block;}
#showmobile{display:none;}

#showdesktop{display:none;}
	#showmobile{display:block;}*/
	
	
@media only screen and (min-width: 481px) and (max-width: 1200px)  {
	.col-sm-3 {
		width: 48%;
	}
	
   .join-distance {margin-bottom: 37px;}
	.form-bottom-1 {
	 margin-bottom: 27px;
	}
	
	
	.form-bottom-2{width:104%;}
	
	.row-fluid .span3 {
		width: 46.928%;
		width: 22.87498530621841%;
	}

}

.containerfluid > .navbar-collapse, .containerfluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
  margin-right: -13px;
  margin-left: -50px;
}

.bgimage {
    background-image: url('/manipal/newmanipal_Banner.jpg');
    background-size: cover;
    background-position: center;
    height: 662px;
    max-width: 100%;
    background-repeat: no-repeat;

    }
    
/* For devices with a minimum width of 1366px */
@media screen and (min-width: 1366px) and (max-width: 1919px) {
    /* CSS rules for 14-inch screens */
    .bgimage{
        background-image: url('/manipal/newmanipal_Banner.jpg');
        background-size: cover;
        background-position: center;
        height: 600px!important; /* Adjust this value as needed */
        max-width: 100%;
        background-repeat: no-repeat;
    }
}




@media only screen and (max-width: 767px) {
 
    .bgimage{
    background-image:url('/manipal/newmanipal_Banner.jpg');
    max-width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: -203px!important;
    }
    .navbar_default .navbar-nav>li>a {
    color: #777;
    margin-left: 32px;
}

/*.transparent_bg {*/
/*    background-color: #fff;*/
/*    height: 370px;*/
/*    margin-left: 92px;*/
/*    margin-top: 442px !important;*/
/*    margin-right: -66px;*/
/*    padding-top: 17px;*/
/*}*/
    
    
    .transparent_bg {
    background-color: #fff;
    height: 370px!important;
    margin-left: 0px!important;
    margin-top: 434px!important;
    margin-right: 0px!important;
    padding-top: 0px!important;
}
    
    /*.transparent_bg{*/
    /*    position: absolute;*/
    /*    background-color: #fff;*/
    /*    height: 416px;*/
    /*    margin-left: 0px!important;*/
    /*    margin-top: 366px !important;*/
    /*}*/
    
    .mobmar{
           margin-top: 50px !important;
    }
    
    .navlogo{
        margin-left:31px;
    }
}


    .transparent_bg {
        background-color: #fff;
    height: 370px;
    margin-left: 92px;
    margin-top: 95px;
    margin-right: -66px;
    padding-top: 29px;
    }
    
    #frmidd{
            margin-top: 2px;
    padding-top: 0px;
    margin-left: -39px;
    }
    
    .centered_tabs {
      display: flex;
      justify-content: center;
      margin-top: 30px;
    }
    
    .centered_tabs .btn {
      margin-right: 10px;
    }
    
    .tab_content {
      text-align: center;
    }
    .card {
        border:1px solid grey;
        border-radius:3px;
       
        margin-bottom: 20px;
    }

    .card-img-top {
        width: 100%;
        height: auto;
    }
     .centered_tabs .btn.active{
        color: #fff!important;
        background: linear-gradient(90deg, #ed3024 0%, #ff6600 100%);
        outline: none;
        border: none;
    }

    .btn{
      background-color: #dcdbdb;
      outline: none;
      border: none;
      padding: 10px 14px;
      border-radius: 5px;
    }

.about_title h5 {
    color: #03045e;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 15px;
}

.about-title h2 {
    font-size: 50px;
    font-weight: 600;
    line-height: 1.4;
}

.services_box {
   border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1.732px 40px 0px rgba(0, 0, 0, 0.08);
    padding: 12px;
    margin-top: 30px;
}

.services_box .services_icon {
    border: 1px solid #03045e;
    display: inline-block;
    padding: 15px;
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 50%;
}
.services_box .services_content2 {
    margin-top: 5px;
    transition: .3s;
}

.horizontal_timeline .items {
    border-top: 3px solid #e9ecef;
}

@media (min-width: 1140px){
.horizontal_timeline .items .items_list {
    display: inline-block;
    width: 24%;
    padding-top: 45px;
}
}
.horizontal_timeline .items .items_list {
    display: block;
    position: relative;
    text-align: center;
    padding-top: 70px;
    margin-right: 0;
}
.horizontal_timeline .items .items_list:before {
    content: "";
    position: absolute;
    height: 36px;
    border-right: 2px dashed #dee2e6;
    top: 0;
}

@media (min-width: 1140px){
.horizontal_timeline .items .items_list .event_date {
    top: -40px;
}
}
.horizontal_timeline .items .items_list .event_date {
    position: absolute;
    top: 36px;
    left: 0;
    right: 0;
    width: 75px;
    margin: 0 auto;
    font-size: 0.9rem;
    padding-top: 8px;
}

.horizontal_timeline .items {
    border-top: 3px solid #e9ecef;
  }
  
  .horizontal_timeline .items .items_list {
    display: block;
    position: relative;
    text-align: center;
    padding-top: 70px;
    margin-right: 0;
  }
  
  .horizontal_timeline .items .items_list:before {
    content: "";
    position: absolute;
    height: 36px;
    border-right: 2px dashed #dee2e6;
    top: 0;
  }
  
  .horizontal_timeline .items .items_list .event_date {
    position: absolute;
    top: 36px;
    left: 0;
    right: 0;
    width: 75px;
    margin: 0 auto;
    font-size: 0.9rem;
    padding-top: 8px;
  }

  @media (min-width: 1140px) {
    .horizontal_timeline .items .items_list {
      display: inline-block;
      width: 24%;
      padding-top: 45px;
    }
  
    .horizontal_timeline .items .items_list .event_date {
      top: -40px;
    }
  }

.section-wrapper {
    padding: 50px;
}

.form-group {
    margin-bottom: 9px;
}

#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 80px;
    left: 23px;
    background-color: #d02f38;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

#scrollToTopBtn:hover {
    background-color: #0056b3;
}

    
.loader-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
}

.loader {
  width: 25px;
  height: 25px;
  border: 3px solid #fff;
  border-top: 3px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.manipal_images_div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  padding: 2em;
}

.manipal_images_divs {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* ya jitni width chahiye */
  height: 8em;
}

.manipal_images {
  text-align: center;
  align-items: center;
  width: 27%;
  height: 12em;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  padding: 0;
  border-radius: 5px;
  margin: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Content ke beech space create karega */
  overflow: hidden; /* Extra content cut ho jayega */
}

.manipal_para1,
.manipal_para2,
.manipal_para3 {
  background: transparent;
  padding: 10px 0 5px 0;
  color: white;
  width: 100%; /* Full width maintain karega */
  text-align: center; /* Text center aligned rahega */
  position: relative;
  margin-top: auto; /* Ensures para always stays at bottom */
}

.manipal_para1 {
  background: linear-gradient(180deg, #00B5B3 0%, #14223D 100%);
}

.manipal_para2 {
  background: linear-gradient(180deg, #DED7B6 0%, #0522D2 100%);
}

.manipal_para3 {
  background: linear-gradient(180deg, #57FF45 0%, #013C51 100%);
}


.manipal_div{
  border: 3px solid #FF6A6A;
  border-radius: 12px;
  text-align: center;
  margin: 3em 5em;
  padding: 1em 3em 2em 3em;
}

.seciton_padding {
  padding: 65px 0;
}

.certificate_sec {
  background: transparent linear-gradient(270deg, #FF6600 0%, #EE3024 100%) 0% 0% no-repeat padding-box;
  color     : #fff;
}


.certificat_list li {
  margin-bottom: 12px;
  font-size    : 14px;
}

.certificat_list {
  border-left : 2px solid;
  list-style  : none;
  margin-left : 15px;
  padding-left: 15px;
}

.headingbox {
  margin-bottom: 50px;
}

.headingbox p {
  font-size : 18px;
  margin-top: 12px;
}

.d_flex{
  display: flex;
}

#image_data{
  display: flex;
  justify-content: center;
  align-items: center;
}


.selected {
  background-color: #FF6600;
  color: white !important;
  outline: none;
  border: none;
  padding: 10px 14px;
  border-radius: 5px;
}


@media screen and (max-width:767px) {
  .manipal_images_div{
    display: block;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
  }
  .manipal_images{
    text-align: center;
    align-items: center;
    width: 90%;
    height: 12em;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
    padding: 0;
    border-radius: 5px;
    margin: 2em 1em;
  }

  .manipal_div{
    border: 3px solid #FF6A6A;
    border-radius: 12px;
    text-align: center;
    margin: 12em 1em 1em 1em;
    padding: 1em;
  }
}